
$primary-color: #c13333; // Ana Kırmızı
$primary-color-dark: #b71c1c; // Koyu Kırmızı (Hover için)

$text-color-dark: #333;
$text-color-light: #000000;
$text-color-muted: #717070;

$border-color: #ddd;
$border-color-light: rgba(0, 0, 0, 0);

$background-light: #f9f9f9;
$background-white: #ffffff;
